<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1v1.io</title>
    <link rel="stylesheet" href="styles/HomeStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="background-container">
        <div class="text">
            <p>1v1.io</p>
        </div>
    </div>

    <div id="nameInput">
        <input type="text" id="user-name" placeholder="Enter name">
    </div>

    <div class="buttons">
        <div class="button-container">
            <button onclick="createLobby()" id="create">Create</button> <!-- Changed onclick function to createLobby() -->
        </div>
        <div class="button-container">
            <button id="join">Join</button>
        </div>
    </div>

    <div class="button-container">
        <button onclick="navigate('/game')">Go to game room</button>
    </div>

    <div id="joinInput" style="display: none;">
        <input type="text" id="joinCode" placeholder="Enter code">
        <button id="joinBtn">➜</button>
    </div>

    <p class="version">Version 0.1</p>

    <script src="/scripts/joinLobbyButton.js"></script>
    <script src="/scripts/public.js"></script>
</body>
</html>
