<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1v1.io</title>
    <link rel="stylesheet" href="styles/LobbyStyles.css">
</head>

<body>
    <div class="background-container">
        <div class="Header">
            <div class="header-content">
                <p>1v1.io</p>
                <br>
                <button onclick="navigate('/home')" id="home">Home</button>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="lobby-code">
            <!-- Replace lobby code text with a button -->
            <button onclick="createLobby()">Create Code</button>
        </div>
        
        <div class="user-card">
            <div class="user-avatar"></div>
            <div class="user-details">
                <div class="user-name">User 1</div>
            </div>
        </div>
        <div class="user-card">
            <div class="user-avatar"></div>
            <div class="user-details">
                <div class="user-name">User 2</div>
            </div>
        </div>
        
        <div class="settings-area">
            <div class="settings-box">Settings</div>
        </div>
    </div>
    
    <div class="content-area">
    </div>

    <script src="/scripts/public.js"></script> 
    <script src="/scripts/lobbyGenCode.js"></script> 

</body>
</html>
