<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1v1.io</title>
    <link rel="stylesheet" href="styles/LobbyStyles.css">
</head>
<body>
    <div class="background-container">
        <div class="Header">
            <div class="header-content">
                <p>1v1.io</p>
                <br>
                <button onclick="navigate('/home')" id="home">Home</button>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="lobby-code">
            <!-- Display Lobby Code Here with a button to let you auto-copy the link to send to a friend -->
        </div>
        
        <div class="user-card">
            <div class="user-avatar"></div>
            <div class="user-details">
                <div class="user-name">User 1</div>
            </div>
        </div>
        <div class="user-card">
            <div class="user-avatar"></div>
            <div class="user-details">
                <div class="user-name">User 2</div>
            </div>
        </div>

        <div class="Container">
            <div class="ChatArea">
                <div class="ChatMessages" id="chatMessages">
                    <!-- Chat messages will be dynamically added here -->
                </div>
            </div>
        </div>

        <div class="ChatInputContainer" id="ChatInputContainer">
            <label for="ChatInput" class="ClickableTextArea">
                <textarea id="ChatInput" placeholder="Type your message..."></textarea>
            </label>
            <button id="sendButton">➤</button>
        </div>
    </div>

    <div class="GameContainer">
        <div class="GameArea">
            <div class="grid">
                <!-- Image elements will be dynamically added here -->
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/chatSystem.js"></script>
    <script src="/scripts/public.js"></script> 
    <script src="/scripts/lobbyGenCode.js"></script> 
    <script src="/scripts/gamesGrid.js"></script> 
</body>
</html>
