html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(to right top, #b12bbe, #9f1dc8, #8714d3, #6414df, #121ceb);
}

.background-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -190px;
}

.text p {
    position: sticky;
    font-weight: bold;
    color: white;
    font-size: 100px;
    animation: pulse 2s infinite;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin: 0 10px;
}

.buttons :hover {
    animation: pulse 2s infinite;
}

#create {
    position: sticky;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
    height: 5vh;
    width: 10vh;
    border: none;
    font-size: 20px;
}

#join {
    position:sticky;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
    height: 5vh;
    width: 10vh;
    border: none;
    font-size: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#joinInput {
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    
}
#joinInput input[type="text"] {
    border:none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin-right: 5px;
    color: aliceblue;
    background-color:rgba(245, 245, 245, 0.5);
}
input[type="text"]#joinCode::placeholder {
    
    color: white;
}
#joinInput button {
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#joinInput button:hover {
    background-color: #0056b3;
}

.version{
    color: wheat;
    display:inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 999;
}
