html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right top, #b12bbe, #9f1dc8, #8714d3, #6414df, #121ceb);
}

.Header {
    display: flex; /* Use flexbox to arrange items */
    align-items: center; /* Vertically center items */
}

.Header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.212);
}

.Header p {
    margin-top: 4px;
    margin-left: 4px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

#homeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;   
    margin-right: 4px;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.PlayerCards {
    margin-left: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.PlayerCard {
    width: 200px;
    height: 50px;
    background-color: #f0f0f071;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px;
}

.PlayerCard:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.PlayerName {
    padding-left: 10px;
    padding-right: 20px;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.PlayerWins {
    margin-left: 20px;
    font-size: 35px;
    flex: 1;
    text-align: center;
}

.Divider {
    position: relative;
    border-left: 2px solid #999;
    height: 100%;
    margin: auto;
    left: 40px;
    
}

.Container {
    
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    height: 75vh;
}

.ChatArea {
    display: flex;
    flex-direction: column;
    background-color: #ffffff2f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    max-height: 300px;
    position: relative;
    width: 20%;
}

.ChatMessages {
    flex-grow: 1;
}

.ChatInput {
    width: 100%;
    resize: none;
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

.ChatInput:focus {
    outline: none;
}

.GameArea {
    -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    width: 60%;
    margin-right: 15%;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
}
.GameArea .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 5%;
    overflow: auto;
}

.GameArea .grid img {
    width: 100%;
    height: auto; 
    max-width: 100%;
}

.GameArea .grid::-webkit-scrollbar {
    width: 8px;
}

.GameArea .grid::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.GameArea .grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.GameArea .grid::-webkit-scrollbar-thumb:hover {
    background: #555;
}




